image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	#partition fsbla1 {
	#	image = "%ATFBIN%"
	#	size = 256K
	#}
	#
	#partition fsbla2 {
	#	image = "%ATFBIN%"
	#	size = 256K
	#}

	partition fip {
		image = "fip.bin"
		size = 4M
		offset = 0x40000
	}

	partition u-boot-env {
		# Twice the environment size to allow redundancy
		size = 0x4000
	}

	partition rootfs {
		image = "rootfs.ext4"
		bootable = "yes"
		partition-uuid = b26967be-18fb-40fe-9d9b-ae035fc4a1c5
	}
}

flash nor-16M {
        pebsize = 64K
        numpebs = 256
        minimum-io-unit-size = 1
}

image nor.img {
	flash {
	}
	flashtype = "nor-16M"

	partition fsbla1 {
		image = "%ATFBIN%"
		size = 256K
	}

	partition fsbla2 {
		image = "%ATFBIN%"
		size = 256K
	}

	partition fip-a {
		image = "fip.bin"
		size = 4M
	}

	partition fip-b {
		size = 4M
	}

	#partition u-boot-env {
	#	image = "uboot-env.bin"
	#	# Matches CONFIG_ENV_OFFSET in U-Boot
	#	offset = 0x900000
	#	# PEB size
	#	size = 64k
	#}
	#
	#partition u-boot-env-red {
	#	image = "uboot-env.bin"
	#	# Matches CONFIG_ENV_OFFSET_REDUND in U-Boot
	#	offset = 0x940000
	#	# PEB size
	#	size = 64k
	#}
}
